.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 60px 114px 51px;
  background-color: #7d9fff;
  max-width: 1043px;
  width: 100%;
  min-height: 884px;
  margin-bottom: 102px;
}
.title {
  font-size: 36px;
  margin-bottom: 124px;
  text-align: center;
}
.btn {
  background-color: rgba(63, 92, 192, 0.8);
  border-radius: 15px;
  padding: 10px 28px;
}
.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
