.container {
  background-color: #7d9fff;
  padding: 60px 111px;
  display: flex;
  flex-direction: column;

  justify-content: start;
  align-items: center;
  min-height: 884px;
  margin-bottom: 102px;
}
.title {
  margin-bottom: 124px;
  text-align: center;
  font-size: 36px;
}
.form {
  background: rgba(63, 92, 192, 0.8);
  display: flex;
  gap: 13px;
  justify-content: center;
  align-items: start;
  padding: 30px 26px 30px 12px;
  border-radius: 15px;
}
.group {
  background: rgba(33, 50, 46, 0.13);
  display: flex;
  flex-direction: column;
  color: #1e3479;
  padding: 5px 18px 20px;
}
.input {
  background: rgba(33, 50, 46, 0.13);
  border: none;
}
.input::placeholder {
  color: rgba(0, 0, 0, 0.46);
  font-weight: 700;
  font-size: 16px;
}
.label {
  font-size: 10px;
}
.btn {
  padding: 9px 17px;
  background-color: rgba(13, 61, 48, 0.4);
}
.containersecond {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}
