.item {
  background-color: rgba(63, 92, 192, 0.8);
  border-radius: 15px;
  padding: 16px 22px 13px 22px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  max-width: 814px;
  width: 100%;
}
.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.title {
  font-size: 32px;
}
.text {
  font-size: 55px;
}
.context {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 40px;
}
.btn {
  padding: 9px 10px;
  background-color: rgba(13, 61, 48, 0.4);
  border: none;
}
