* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}

button,
a {
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
